<p id="notice"><%= notice %></p>

<p>
  <h3>
    <%= @user.username %>
  </h3>
</p>

<p>Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %></p>

<h3>
  Ratings
</h3>

<ul>
<% @user.ratings.each do |r| %>
  <li> <%= r %> <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<h3>
  Clubs:
</h3>

<ul>
<% @user.beer_clubs.each do |r| %>
  <li> <%= r %> <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
